---
import DownloadAppButton from '@/components/download-app-btn'
import { Button } from '@/components/ui/button'

---
<section
    class="
    relative
    h-[53vh]
    sm:h-[65vh]
    min-h-105
    w-full
    shadow-md
    overflow-hidden
    bg-[url('../images/hero-image.png')]
    bg-cover
    bg-center
"
>
  <!-- Overlay -->
    <div class="absolute inset-0 bg-linear-to-r 

     from-black/80 to-black/00
     sm:from-black/70 sm:to-black/0" 

    />
    <!-- Content -->
    <div class="relative z-10 px-8 pt-10">
        <h1 class="text-5xl sm:text-6xl max-w-90 font-bold text-background">
            Fun, Safe <span class="text-primary">Gymnastics</span> for Kids
        </h1>
        <p class="mt-4 text-lg sm:text-xl text-background max-w-90">
           Classes for ages 3 months and up, Birthday Parties, and more!
        </p>

        <div class="flex flex-col gap-y-8 items-center justify-center max-w-90">
            <div class="flex-start gap-x-5 mt-6">
                <a href={`${import.meta.env.BASE_URL}/classes`} class="inline-block">
                    <Button size="lg" className="text-md  sm:text-lg">
                        View Classes
                    </Button>
                </a>
                <DownloadAppButton client:load/>
            </div>
            <a href={`${import.meta.env.BASE_URL}/services/birthday-parties`} class="inline-block">
                <Button size="lg" variant="accent" className="text-md sm:text-lg border border-white/40">          
                    <span>🎂 Book a <span>Birthday</span> Party!</span>
                </Button>
            </a>
        </div>
    </div>
</section>
