---
import { Button } from '@/components/ui/button'
---
<section
    class="
    relative
    h-[53vh]
    sm:h-[73vh]
    min-h-105
    w-full
    shadow-md
    overflow-hidden
    bg-[url('../images/hero-image.png')]
    bg-cover
    bg-center
"
>
  <!-- Overlay -->
    <div class="absolute inset-0 bg-linear-to-r 

     from-black/80 to-black/00
     sm:from-black/70 sm:to-black/0" 

    />
    <!-- Content -->
    <div class="relative z-10 px-8 pt-10">
        <h1 class="text-5xl sm:text-6xl max-w-70 font-bold text-background">
            Fun, Safe <span class="text-primary">Gymnastics</span> for Kids
        </h1>
        <p class="mt-4 text-lg sm:text-xl text-background max-w-80">
           Classes for ages 6 months to 12 years, Birthday Parties, and more!
        </p>

        <div class="flex flex-col gap-y-8 items-center justify-center max-w-70">
            <div class="flex-start gap-x-4">
                <Button size="lg" className="text-md  sm:text-lg mt-6">
                    View Classes
                </Button>
                <Button size="lg" variant="secondary" className="mt-6 text-md sm:text-lg">
                    Free Trial!
                </Button>
            </div>
            <Button size="lg" variant="accent" className="flex flex-col text-md sm:text-lg border border-border/40">
                    <span>🎂 Book a <span>Birthday</span> Party!</span>
            </Button>
        </div>
    </div>
</section>
